.l1go{
    width: 50%;
}
.d1{
    font-weight: 300px;
    color: #555;
}
.nav-item{
    margin-left: 30px;
}
.sect1on{
    margin-top: 100px;
}
.l2go{
    width: 99%;
    margin-bottom: 120px;
}
.d2{
    margin-top: 60px;
    margin-bottom: 100px;
}
.d3{
    font-weight: bold;
}
.d4{
    font-size: 18px;
    color: #555;
}
.btn-orange {
    background-color: #FF8C00;
    border-color: #FF8C00;
    color: #fff;
  }
.btn-orange:hover {
    background-color: #FFA500;
  border-color: #FFA500;
}
.k1{
    width: 90%;
}
.sect2on{
    padding: 0% 15%;
    margin-top: 1%;
}
.s1{
    background: radial-gradient(#fff,#ffd6d6);
}
.c1l{
    margin-top: 30px;
    text-align: center;
}
@media (max-width: 767px) {
    .k1{
      max-width: 70%; /* reduce the maximum width of the image to 50% of its container */
    }
}
.sect3on{
    margin-top: 50px;
    padding: 0% 15%;
}
.d6{
    text-align: center;
}
.d5{
    font-weight: bolder;
    font-size: 23px;
    color: #555;
    text-decoration: underline;
    text-decoration-color: #FF8C00;
    text-decoration-thickness: 10;
}
.k2{
    width: 95%;
    transition: all .2s ease-in-out;
}
.k2:hover{
    transform: scale(1.1); 
}
.e1{
    color: #555;
    font-weight: 30px;
    margin-top: 3px;
}
.w1tch{
    width:80%;
    margin-bottom:50px;
    margin-top: 40px;
}
.sect4on{
    padding: 0% 15%;
    margin-top: 80px;
    background: radial-gradient(#fff,#ffd6d6);
}
.d7{
    padding: 100px 0px;
}
.d8{
    padding: 20px 0px;
}
.d9{
    color: #555;
    font-size: 16px;
}
.d10{
    margin-top: 70px;
    padding: 0% 5%;
}
.testimonial-box {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin-left: 50px;
    padding: 1% 2%;
    color: #555;
}
.p1x{
    border-radius: 50%;
    width: 25%;
}
.d11{
    text-align: center;
}
.brands{
    padding: 0% 15%;
    margin-top: 120px;
}
.d12{
    margin-left: 15px;
    text-align: center;
}
.k4{
    transition: all .2s ease-in-out;
}
.k4:hover{
    transform: scale(1.1); 
}
.k5{
    filter: grayscale(100%);
}
.k5:hover {
    filter: none;
}
.e1d{
    margin-top: 50px;
    background-color: black;
    padding: 3% 5%;
}
.f1{
    color: #fff;
    font-weight: bold;
}
.f2{
    color: #555;
    font-size: 15px;
}
.f3{
    width: 30%;
}
.f4{
    color: #555;
}
.f5{
    width: 60%;
}
.f6{
    text-align: center;
}
.transparent-button {
    background: transparent;
    border: none;
    color: #555;
    font-size: 14px;
    padding: 5px 10px;
}
.f7{
    text-align: center;
    margin-top: 10px;
}
@media screen and (max-width:995px) {
    .f8{
      margin-top: 20px;
    }
}
@media screen and (max-width: 995px) {
    .d10{
      margin-right: 100px;
    }
}
@media screen and (max-width: 995px) {
    .k4{
      margin-top: 20px;
    }
}
@media screen and (max-width: 995px) {
    .w1tch{
      width: 80%;
    }
}
@media screen and (max-width: 995px) {
    .w1tch{
      width: 80%;
      margin-bottom:10px;
    }
}
